.pkpassrc
pkpass.spec
*pyc*
test/pki/ca
test/pki/intermediate
test/scratch/*
venv/*
.tox/*
.coverage
build/*
dist/*
pkpass.egg-info/*
!libpkpass/connectors/connectorinterface.py
libpkpass/connectors/*
docs/build/*
